
.DS_Store
node_modules/
build/
.cache
uebung04/node_modules/.cache/default-development/index.pack.old
uebung04/node_modules/.cache/default-development/index.pack
uebung04/node_modules/.cache/default-development/1.pack
uebung04/node_modules/.cache/default-development/0.pack
.DS_Store
